<div>
    <header id="cabecalho">
        <nav>
            <h1>The Shield</h1>
        </nav>
    </header>
</div>
<div class="container">
    <img id="imgLogin" src="/img/redLobo.png">
    <form id="formulario">
        <fieldset class="login">
            <div class="campo">
                <label for="user">Usuário:</label><br>
                <input class="entradas" name="user" id="user" placeholder="Digite seu usuário" required>
            </div>
            <div class="campo">
                <label for="password">Senha:</label><br>
                <input class="entradas" name="password" id="password" type="password" placeholder="Digite sua senha" required>
            </div>
            <div>
                <button id="button">Entrar</button>
            </div>
            <div>
                <a href="#" id="esqueceuSenha">Esqueceu a senha?</a>
            </div>
            <div>
                <a href="/formulario" id="criarConta">Criar conta</a>
            </div>
        </fieldset>
    </form>
</div>
<div>
    <footer id="rodape">
                ® The Shield
    </footer>
</div>